In [1]:
    keys = ('TIPO INSCRIPCIÓN:',
             'COMUNIDAD AUTÓNOMA:',
             'PROVINCIA:',
             'Municipio:',
             'Sección:',
             'Tomo:',
             'Folio:',
             'Clave:',
             'Fecha Concesión:',
             'Clase y Afeccion:',
             'Vol. Max. Anual (m3):',
             'Superficie (ha):',
             'Corriente - Acuifero:',
             'Paraje:', 
             'Municipio:',
             'Provincia:',
             'Titular:',
             'TOMA:',
             'UTMX:',
             'UTM Y:',
             'HUSO:')

In [2]:
row = 'Tomas:   TOMA: 860/2004 - 1 UTMX: 626639 UTM Y: 4341844 HUSO: 30'

present_keys = [key1 for key1 in keys if key1 in row]
print(present_keys)
pos0 = [row.find(key1) for key1 in present_keys]
pos1 = [row.find(key1)+len(key1) for key1 in present_keys]
print(pos0, pos1)

['TOMA:', 'UTMX:', 'UTM Y:', 'HUSO:']
[9, 28, 41, 56] [14, 33, 47, 61]

In [3]:
ilength = len(present_keys) - 1
for i, (k1, p0, p1) in enumerate(zip(present_keys, pos0, pos1)):
    if i < ilength:
        pe = pos0[i+1]
        print (i, '->', k1[0:], '->', row[p1:pe].strip())
    else:
        print (i, '->', k1[0:], '->', row[p1:].strip())

0 -> TOMA: -> 860/2004 - 1
1 -> UTMX: -> 626639
2 -> UTM Y: -> 4341844
3 -> HUSO: -> 30

In [4]:
a = dict([('a', 1), ('b', 2)])
a

{'a': 1, 'b': 2}

In [5]:
list(a.keys())[-1]

'b'

In [27]:
class Counter():
    
    def __init__(self, i: int):
        self.__i = i

    @property
    def i(self):
        return self.__i

    def __iadd__(self, i:int):
        self.__i += i
        return self 
   
    
def test(n):
    n += 1

n = Counter(0)
for j in range(3):
    test(n)
    print(n.i)

print(n.i)

1
2
3
3

In [1]:
a = int
if a is int:
    print(True)

True

In [1]:
from locale import atof, setlocale, LC_NUMERIC
setlocale(LC_NUMERIC, 'es_ES')
a = '200.057,3'
atof(a)

200057.3

In [12]:
NULL = ''
keys_toma = [('clave', [NULL, str]), ('toma', [NULL, str]),
             ('xutm', [NULL, float]), ('yutm', [NULL, float]),
             ('huso', [NULL, str])]
d = dict(keys_toma)
[v2[0] for v2 in list(d.values())]

['', '', '', '', '']

In [13]:
d['clave'][0] = 'str'
[v2[0] for v2 in list(d.values())]

['str', '', '', '', '']

In [18]:
f = 'Ene 23 1997 12:0'
ws = f.split()
ws

['Ene', '23', '1997', '12:0']

In [20]:
months = dict([('ene', 1),('jan',1),('feb',2),('mar',3),
              ('abr',4),('may',5),('jun',6),
              ('jul',7),('ago',8),('aug',8),('sep',9),
              ('oct',10),('nov',11),('dic',12)])
months

{'ene': 1,
 'jan': 1,
 'feb': 2,
 'mar': 3,
 'abr': 4,
 'may': 5,
 'jun': 6,
 'jul': 7,
 'ago': 8,
 'aug': 8,
 'sep': 9,
 'oct': 10,
 'nov': 11,
 'dic': 12}

In [24]:
month = months[ws[0].lower()]
month

1

In [23]:
from datetime import date

In [26]:
date(int(ws[2]), month, int(ws[1]))

datetime.date(1997, 1, 23)

In [50]:
def str_to_date(str_date: str):
    months = dict([('ene', 1),('jan',1),('feb',2),('mar',3),
              ('abr',4),('may',5),('jun',6),
              ('jul',7),('ago',8),('aug',8),('sep',9),
              ('oct',10),('nov',11),('dic',12)])

    try:
        ws = str_date.split('/')
        if len(ws) == 3:
            dt = date(int(ws[2]), int(ws[1]), int(ws[0]))
            return dt.strftime('%Y-%m-%d')
        ws = str_date.split()
        if len(ws) >= 3:
            ws[0] = ws[0].lower()
            if ws[0] in months.keys():
                ws[0] = months[ws[0]]
                dt = date(int(ws[2]), int(ws[0]), int(ws[1]))
                return dt.strftime('%Y-%m-%d')
        print(f'{str_date} can not be formated as date')
        return str_date
    except:
        print(f'{str_date} can not be formated as date')
        return str_date

In [52]:
f = 'Ene 23 1997 12:0'
f1 = '01/12/2005'
str_to_date(f)

'1997-01-23'

In [2]:
a = 'hola   rediona'
a = a.split()
' '.join(a)

'hola rediona'

In [9]:
from os.path import basename, join, splitext
import glob
dir_data = r'H:\LSGB\data2db\chj_inscripciones'

In [3]:
pattern = '*ALBACETE_convertio.txt'

In [22]:
files = [basename(f1) for f1 in glob.glob(join(dir_data,pattern))]
for f1 in files:
    fname, fextension = splitext(f1)
    fo_inscripcion = 'ins_' + fname + '.csv'
    fo_toma = 'toma_' + fname + '.csv'
    print(f1, ',', fo_inscripcion.lower(), ',', fo_toma.lower())

MANANTIAL_ALBACETE_convertio.txt , ins_manantial_albacete_convertio.csv , toma_manantial_albacete_convertio.csv
REUTILIZACION_ALBACETE_convertio.txt , ins_reutilizacion_albacete_convertio.csv , toma_reutilizacion_albacete_convertio.csv
SUBTERRANEO_ALBACETE_convertio.txt , ins_subterraneo_albacete_convertio.csv , toma_subterraneo_albacete_convertio.csv
SUPERFICIAL_ALBACETE_convertio.txt , ins_superficial_albacete_convertio.csv , toma_superficial_albacete_convertio.csv

In [2]:
l = [str(item) for item in [1, 2]]
','.join(l)

'1,2'

In [3]:
print(l)

['1', '2']